@model IEnumerable<Domain.Entityes.Photo>
@{
    ViewBag.Title = "О дизайнере";
}
<div class="container tovar">
    <div class="row">
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <h2 align="center">инфо о дизайнере, инфо о дизайнере, инфо о дизайнере</h2>
        <br/>
    </div>
</div>
