@model IEnumerable<Domain.Entityes.Product>
@{
    ViewBag.Title = "Online-Гардероб";
}
<div class="container tovar">
    <div class="row">
        @foreach (var i in Model)
        {
            @Html.Partial("PartialSelling", i)
        }
    </div>
</div>
        @*метод формирующий представление для плавающей корзины*@
        @Html.Action("BasketOnView", "Basket")

