html {
    font-family:SegoeUI-Light, SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
/*-------------------header----------------*/
.header{
    background-color: #a7e2a9;
    margin: 10px 0;
}
.headerpat{
    height: 84px;
    background: url(../img/patern.png);
}
.logo {
    text-align: right;
    padding-right: 30px;
}
.name, .icon{
    text-align: center;
}
.name{
    margin-top: 15px;
}
.icon{
    text-align: left;
    padding-top: 20px;
    }
.icon img{
    padding-left: 25px;
    width: 50;
}
/*-------------------/header------------*/
/*------------------menu----------------*/
.menu-top{
    height: 38px;
    font-size: 20px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
}
.navbar-default{
    background-color: #8dbf8f;
    float: none;
}
.navbar-nav {
    float: none;
    text-align: center;
    
    }
    .navbar-nav li {
    float: none;
    display:inline-block; 
    ;
    .navbar-inner {
        text-align:center;
      }}
/*-----------------/menu----------------*/
/*-----------------slider----------------*/
.owl-stage-outer{
    height: 180px;
}
.carousel{
    margin-top: 25px;
}
/*-----------------/slider----------------*/

.tovar{
    margin-top: 25px;
}
.h-100{
    margin: 5px;
}
.h-100 h4{
    text-align: center;
}
.justify-content{
    margin: auto;
}
.footer{
    background-color: #a7e2a9;  
}
th{
    text-align: center;
}
.footer h4{
    text-align: center;
}